<!-- Tabler UI Navbar Component -->
<header class="navbar navbar-expand-lg d-print-none">
  <div class="container-fluid">
    <!-- Logo/Brand -->
    <div class="navbar-brand<%= ' navbar-brand-autodark' if navbar.brand_autodark %> me-3">
      <%= navbar.brand if navbar.respond_to?(:brand) %>
    </div>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Navigation Container -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <!-- Left Navigation -->
      <ul class="navbar-nav">
        <% navbar.items_left.each do |item| %>
          <%= render "tabler_ui/navbar/nav_item", item: item %>
        <% end %>
      </ul>

      <!-- Right Navigation -->
      <ul class="navbar-nav flex-row order-md-last ms-auto">
        <% navbar.items_right.each do |item| %>
          <%= render "tabler_ui/navbar/nav_item", item: item %>
        <% end %>
      </ul>
    </div>
  </div>
</header>
