<!-- Tabler UI Page Header Component -->
<div class="page-header d-print-none">
  <div class="container-fluid">
    <div class="row g-2 align-items-center">
      <div class="col">
        <% if page_header.subtitle.present? %>
          <div class="page-pretitle"><%= page_header.subtitle %></div>
        <% end %>
        <h2 class="page-title"><%= page_header.title %></h2>
      </div>
      <% if defined?(slots) && slots.buttons.present? %>
        <div class="col-auto ms-auto d-print-none">
          <div class="btn-list">
            <%= slots.buttons %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
